.bg {
    background-color: hsl(30, 38%, 92%);
}

#row {
    margin-top: 55px;
    overflow: hidden;
    border-radius: 20px;
}

p {
    font-size: 14px;
}

#prix {
    font-size: 3em;
}


#row {
    border-radius: 10px; 
    overflow: hidden;
  }

  #row #img {
    width: 100%;
    height: auto;
    display: block;
  }


.attribution {
    margin-top: 20px;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}